body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.containerResults{
    background-color: blue;
}

.spinner-border{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

#modalImgDiv{
    width: 50px;
    height: 50px;
    
}

#imgModal{
    max-width: 100%;
    max-height: 100%;
    border-radius:50%;
    min-width: 100%;;
    min-width:100%;
 
}
.followInfo{
    cursor: pointer;
}

.circular--square { border-top-left-radius: 50% 50%; height: 70px; width: 70px; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }

.circular--square--post { border-top-left-radius: 50% 50%; height: 50px; width: 50px; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }


#storyOfLogged{
    position:relative;
}

#buttonForStory{
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.story-preview{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;;
    min-width:100%;
}